<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business case analytics</title>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <link href="{% static "assets/materialize-css/dist/css/materialize.min.css" %}" rel="stylesheet">
    <script src="{% static "assets/materialize-css/dist/js/materialize.min.js" %}"></script>

</head>
<body>


  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">AwesomeBC</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% include 'main/includes/navbaritems.html' %}
      </ul>
    </div>
  </nav>

{% include 'main/includes/messaging.html' %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

</body>

<!-- Prism JS -->
<script src="{% static "tinymce/js/prism.js" %}"></script>
