<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <link href="{% static "assets/@clr/ui/clr-ui.min.css" %}" rel="stylesheet">

</head>
<body>

<header class="header-6">
    <div class="branding">
        Business Case Analysis
    </div>
    <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">Business Case Analysis</a>
        <a href="javascript://" class="nav-link nav-text">Blog</a>
        <a href="/login" class="nav-link nav-text">Login</a>
        <a href="/register" class="nav-link nav-text">Register</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>


  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

</body>

<!-- Prism JS -->
<script src="{% static "tinymce/js/prism.js" %}"></script>